
.section {
    margin-top: 20px;
}

.container {
    margin-top: 50px;
}

.featured > iframe {
    width: 100%;
    height: auto;
}

.personal-videos {
    display: inline-flex;
    width: 100%;
}

.p-video {
    width: 25%;
    text-align: center;
    border: 1px solid gray;
}

.client-videos {
    display: inline-flex;
    width: 100%;
}

.c-video {
    width: 25%;
    text-align: center;
    border: 1px solid gray;
}